<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>07</BK1>
  <BK2>87</BK2>
  <Col3>97</Col3>
  <Reversed>False</Reversed>
  <Multicolour>True</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>27</charcode>
    <chardata>
      <data>249</data>
      <data>159</data>
      <data>118</data>
      <data>237</data>
      <data>144</data>
      <data>240</data>
      <data>112</data>
      <data>224</data>
    </chardata>
  </character>
  <character>
    <charcode>28</charcode>
    <chardata>
      <data>123</data>
      <data>158</data>
      <data>185</data>
      <data>110</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>29</charcode>
    <chardata>
      <data>187</data>
      <data>237</data>
      <data>237</data>
      <data>119</data>
      <data>11</data>
      <data>14</data>
      <data>6</data>
      <data>11</data>
    </chardata>
  </character>
  <character>
    <charcode>30</charcode>
    <chardata>
      <data>112</data>
      <data>144</data>
      <data>112</data>
      <data>224</data>
      <data>144</data>
      <data>224</data>
      <data>112</data>
      <data>208</data>
    </chardata>
  </character>
  <character>
    <charcode>31</charcode>
    <chardata>
      <data>11</data>
      <data>14</data>
      <data>7</data>
      <data>9</data>
      <data>7</data>
      <data>14</data>
      <data>9</data>
      <data>14</data>
    </chardata>
  </character>
  <character>
    <charcode>33</charcode>
    <chardata>
      <data>208</data>
      <data>96</data>
      <data>112</data>
      <data>208</data>
      <data>238</data>
      <data>183</data>
      <data>183</data>
      <data>221</data>
    </chardata>
  </character>
  <character>
    <charcode>34</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>238</data>
      <data>183</data>
      <data>102</data>
      <data>221</data>
    </chardata>
  </character>
  <character>
    <charcode>35</charcode>
    <chardata>
      <data>6</data>
      <data>11</data>
      <data>14</data>
      <data>9</data>
      <data>183</data>
      <data>110</data>
      <data>249</data>
      <data>159</data>
    </chardata>
  </character>
  <character>
    <charcode>36</charcode>
    <chardata>
      <data>182</data>
      <data>219</data>
      <data>118</data>
      <data>237</data>
      <data>183</data>
      <data>110</data>
      <data>221</data>
      <data>187</data>
    </chardata>
  </character>
  <character>
    <charcode>37</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>7</data>
      <data>14</data>
      <data>7</data>
      <data>9</data>
    </chardata>
  </character>
  <character>
    <charcode>38</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>176</data>
      <data>224</data>
      <data>112</data>
      <data>208</data>
    </chardata>
  </character>
  <character>
    <charcode>39</charcode>
    <chardata>
      <data>11</data>
      <data>13</data>
      <data>14</data>
      <data>7</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>40</charcode>
    <chardata>
      <data>112</data>
      <data>160</data>
      <data>112</data>
      <data>224</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>41</charcode>
    <chardata>
      <data>249</data>
      <data>159</data>
      <data>118</data>
      <data>238</data>
      <data>152</data>
      <data>224</data>
      <data>128</data>
      <data>192</data>
    </chardata>
  </character>
  <character>
    <charcode>42</charcode>
    <chardata>
      <data>251</data>
      <data>157</data>
      <data>109</data>
      <data>151</data>
      <data>27</data>
      <data>14</data>
      <data>2</data>
      <data>3</data>
    </chardata>
  </character>
  <character>
    <charcode>43</charcode>
    <chardata>
      <data>192</data>
      <data>64</data>
      <data>112</data>
      <data>216</data>
      <data>233</data>
      <data>182</data>
      <data>185</data>
      <data>223</data>
    </chardata>
  </character>
  <character>
    <charcode>44</charcode>
    <chardata>
      <data>3</data>
      <data>14</data>
      <data>6</data>
      <data>27</data>
      <data>233</data>
      <data>182</data>
      <data>185</data>
      <data>223</data>
    </chardata>
  </character>
  <character>
    <charcode>45</charcode>
    <chardata>
      <data>3</data>
      <data>2</data>
      <data>6</data>
      <data>11</data>
      <data>41</data>
      <data>54</data>
      <data>185</data>
      <data>223</data>
    </chardata>
  </character>
  <character>
    <charcode>46</charcode>
    <chardata>
      <data>155</data>
      <data>245</data>
      <data>37</data>
      <data>27</data>
      <data>7</data>
      <data>14</data>
      <data>1</data>
      <data>3</data>
    </chardata>
  </character>
  <character>
    <charcode>47</charcode>
    <chardata>
      <data>192</data>
      <data>128</data>
      <data>112</data>
      <data>224</data>
      <data>216</data>
      <data>164</data>
      <data>175</data>
      <data>217</data>
    </chardata>
  </character>
  <character>
    <charcode>48</charcode>
    <chardata>
      <data>3</data>
      <data>2</data>
      <data>6</data>
      <data>11</data>
      <data>41</data>
      <data>54</data>
      <data>185</data>
      <data>223</data>
    </chardata>
  </character>
</charset>
