# CBM Prog Studio Files to be ignored.
*.dmp
*.dbg
*.tmp
#*.prg
*.dup

Bresenham/bak/*
CaveCommand/bak/*
vc20graphics/bak/*
VampireDungeon/bak/*
BookGame/bak/*
Mazegen/bak/*
AssemblyStart/bak/*
SprBgCollision/bak/*
First/bak/*
DragonHort/bak/*
SimpleMusicPlayer/bak/*