# CBM Prog Studio Files to be ignored.
*.dmp
*.dbg
*.tmp
*.prg
*.dup

vc20stuff/bak/*
VampireDungeon/bak/*
BookGame/bak/*
Mazegen/bak/*
AssemblyStart/bak/*
SprBgCollision/bak/*
First/bak/*
DragonHort/bak/*
SimpleMusicPlayer/bak/*