<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>77</BK1>
  <BK2>d7</BK2>
  <Col3>a7</Col3>
  <Reversed>False</Reversed>
  <Multicolour>True</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>123</charcode>
    <chardata>
      <data>0</data>
      <data>40</data>
      <data>130</data>
      <data>20</data>
      <data>20</data>
      <data>130</data>
      <data>40</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>126</charcode>
    <chardata>
      <data>0</data>
      <data>195</data>
      <data>195</data>
      <data>40</data>
      <data>40</data>
      <data>195</data>
      <data>195</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>127</charcode>
    <chardata>
      <data>130</data>
      <data>130</data>
      <data>20</data>
      <data>125</data>
      <data>125</data>
      <data>20</data>
      <data>130</data>
      <data>130</data>
    </chardata>
  </character>
</charset>
