<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>07</BK1>
  <BK2>77</BK2>
  <Col3>37</Col3>
  <Reversed>False</Reversed>
  <Multicolour>False</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>83</charcode>
    <chardata>
      <data>68</data>
      <data>17</data>
      <data>132</data>
      <data>32</data>
      <data>4</data>
      <data>145</data>
      <data>4</data>
      <data>73</data>
    </chardata>
  </character>
  <character>
    <charcode>123</charcode>
    <chardata>
      <data>126</data>
      <data>255</data>
      <data>219</data>
      <data>255</data>
      <data>165</data>
      <data>189</data>
      <data>24</data>
      <data>24</data>
    </chardata>
  </character>
  <character>
    <charcode>124</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>120</data>
      <data>252</data>
      <data>174</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>126</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>30</data>
      <data>63</data>
      <data>117</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>127</charcode>
    <chardata>
      <data>24</data>
      <data>24</data>
      <data>60</data>
      <data>60</data>
      <data>126</data>
      <data>231</data>
      <data>255</data>
      <data>231</data>
    </chardata>
  </character>
</charset>
