<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>07</BK1>
  <BK2>77</BK2>
  <Col3>37</Col3>
  <Reversed>False</Reversed>
  <Multicolour>False</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>0</charcode>
    <chardata>
      <data>64</data>
      <data>18</data>
      <data>64</data>
      <data>5</data>
      <data>80</data>
      <data>4</data>
      <data>128</data>
      <data>17</data>
    </chardata>
  </character>
  <character>
    <charcode>35</charcode>
    <chardata>
      <data>91</data>
      <data>237</data>
      <data>255</data>
      <data>182</data>
      <data>125</data>
      <data>235</data>
      <data>191</data>
      <data>246</data>
    </chardata>
  </character>
  <character>
    <charcode>42</charcode>
    <chardata>
      <data>128</data>
      <data>208</data>
      <data>218</data>
      <data>219</data>
      <data>219</data>
      <data>218</data>
      <data>208</data>
      <data>128</data>
    </chardata>
  </character>
  <character>
    <charcode>43</charcode>
    <chardata>
      <data>60</data>
      <data>126</data>
      <data>195</data>
      <data>223</data>
      <data>199</data>
      <data>223</data>
      <data>126</data>
      <data>60</data>
    </chardata>
  </character>
  <character>
    <charcode>60</charcode>
    <chardata>
      <data>0</data>
      <data>90</data>
      <data>60</data>
      <data>102</data>
      <data>102</data>
      <data>60</data>
      <data>90</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>61</charcode>
    <chardata>
      <data>193</data>
      <data>225</data>
      <data>127</data>
      <data>63</data>
      <data>63</data>
      <data>127</data>
      <data>225</data>
      <data>193</data>
    </chardata>
  </character>
  <character>
    <charcode>62</charcode>
    <chardata>
      <data>128</data>
      <data>224</data>
      <data>248</data>
      <data>196</data>
      <data>254</data>
      <data>255</data>
      <data>252</data>
      <data>192</data>
    </chardata>
  </character>
  <character>
    <charcode>86</charcode>
    <chardata>
      <data>129</data>
      <data>90</data>
      <data>60</data>
      <data>102</data>
      <data>102</data>
      <data>60</data>
      <data>90</data>
      <data>129</data>
    </chardata>
  </character>
  <character>
    <charcode>87</charcode>
    <chardata>
      <data>60</data>
      <data>126</data>
      <data>227</data>
      <data>239</data>
      <data>231</data>
      <data>239</data>
      <data>126</data>
      <data>60</data>
    </chardata>
  </character>
  <character>
    <charcode>102</charcode>
    <chardata>
      <data>246</data>
      <data>95</data>
      <data>251</data>
      <data>109</data>
      <data>223</data>
      <data>234</data>
      <data>127</data>
      <data>237</data>
    </chardata>
  </character>
</charset>
